<nav id="nav-ul">
  <div class="logo"><a href ="/">
    Logo
  </a></div>
  <ul class="links">
    <li><a href="/">About</li>
    <li><a href="/">Exercises</a></li>
    <li><a href ="/">Home</a></li>
    <li><a href ="/">Sign In</a></li>
  </ul>
</nav>
