<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleHome.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>M.A's Daily's Dose</title>
  </head>
  <body>

    <%- include ('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>

    <div class="grid">
      <section class="about">
        <h1>About</h1>
        <p>Welcome to MA’s daily dose, here you will find daily quotes, tips and positive vibe exercises to inspire and motive you!</p>
      </section>

      <section class="more-ma">
        <figure>
          <img src="/more-about.png">
          <figcaption>Mental Health changes how we think, feel and act. It is important in every stage of life.</figcaption>
        </figure>
      </section>

      <section class="genral-problem">
        <figure>
          <img src="/genral-problem.jpg">
          <figcaption></figcaption>
        </figure>
      </section>

      <section class="can-do">
        <figure>
          <img src="/fun.jpeg">
          <figcaption>By checking in everyday you will get the support you need for a great day!</figcaption>
        </figure>
      </section>


    </div>

    <section id="section2">
      <h1>Sign Up For Free Daily Health Checks</h1>
      <h3>Self Care Is the best <em>care</em>,</h3>
      <h3>Login in daily to get free advice for the day based on how you're felling. </h3>
      <a href="/users/new"><button type="button" name="button"> SIGN UP</button></a>
    </section>

    <footer>
      <em>Copyright (c) 2018 Copyright Holder All Rights Reserved.</em>
    </footer>
  </body>
</html>
