<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleHome.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>MA's Health</title>
  </head>
  <body>

    <%- include ('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>

    <div class="gird">
      <section>
        <h1>About</h1>
      </section>
      
      <section>
        <figure>
          <img src="/more-about.png">
          <figcaption>More about MA's</figcaption>
        </figure>
      </section>

      <section>

        <figure>
          <img src="/genral-problem.jpeg">
          <figcaption>Genral Problem</figcaption>
        </figure>
      </section>

      <section>
        <figure>
          <img src="/fun.jpeg">
          <figcaption>What We can Do</figcaption>
        </figure>

      </section>
    </div>

    <section id="section2">
      <h1>Sign Up For Free Daily Health Checks</h1>
      <h3>Self Care Is the best <em>care</em>,</h3>
      <h3>Login in daily to get free advice for the day based on how you're felling. </h3>
      <button type="button" name="button"> SIGN UP</button>
    </section>

    <footer>

    </footer>
  </body>
</html>
