<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/exercies" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" />

        <label for="Description">Description</label>
        <input type="text" name="Description" />

  

        <label for="daily">Daily</label>
        <input type="text" name="daily" />

        <br>
        <br>
        <input type="submit" value="Create Exercise" />
    </form>

  </body>
</html>
