<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <div class="confirm-box">
        <h1>Welcome <%= currentUser.username%>!</h1><br>
        <p>To complete your daily profile, please feel free to take a daily health check when you log in.</p>
        <p>Giving you the emontial support you may need emotional</p>
        <br>
        <a href="/healthform/form1"><button type="button" name="button">Take Daily Health Check</button></a>
        <a href="/"><button type="button" name="button">Back To Home</a></button></a>



      </div>
  </body>
</html>
